<h1>edit user info</h1>

<%= form_for @user do |f| %>

<%= f.label :encrypted_password %>
<%= f.text_field :encrypted_password %>

<%= f.label :img_url %>
<%= f.text_field :img_url %>

<%= f.submit %>

<% end %>