
<style>
.edit-profle {
  margin: 0% 10%

}
</style>
<div class=edit-profile>

<div class="css-input"><%= Edit Profile</div>
<br><br>

<%= form_for @user do |f| %>

<%= f.label :first_name %><br>
<%= f.text_field :first_name, :size=>"50" %><br><br>

<%= f.label :last_name %><br>
<%= f.text_field :last_name, :size=>"50" %><br><br>

<%= f.label :img_url %><br>
<%= f.text_field :img_url, :size=>"50" %><br><br>

<%= f.submit %>

<% end %>

</div>