<style>
.sign-up {
  margin: 0% 10%
}
</style>

<div class="sign-up">
<div class="css-input">Sign-up for TheNew</div>

<br><br><br>
</body>
<h4>
<%= form_for :user, url: '/users' do |f| %>
<%= f.label :first_name %><br>
<%= f.text_field :first_name, :size=>"50" %><br><br>

<%= f.label :last_name %><br>
<%= f.text_field :last_name, :size=>"50" %><br><br>

<%= f.label :user_name %><br>
<%= f.text_field :user_name, :size=>"50" %><br><br>

<%= f.label :email %><br>
<%= f.text_field :email, :size=>"50" %><br><br>

<%= f.label :img_url %><br>
<%= f.text_field :img_url, :size=>"50" %><br><br><br>

<%= f.label :password %><br>
<%= f.password_field :password, :size=>"50" %><br><br>

<%= f.label :password_confirmation %><br>
<%= f.password_field :password_confirmation, :size=>"50" %><br><br>



<%= f.submit %>

</h4>

<% end %>

<h4>Already a member? <%= link_to "Click here", new_login_path %> to go back to the login page.</h4>
</div>