<h1>create new user</h1>

<%= form_for @user do |f| %>
<%= f.label :first_name %>
<%= f.text_field :first_name %>

<%= f.label :last_name %>
<%= f.text_field :last_name %>

<%= f.label :user_name %>
<%= f.text_field :user_name %>

<%= f.label :encrypted_password %>
<%= f.text_field :encrypted_password %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :img_url %>
<%= f.text_field :img_url %>

<%= f.submit %>

<% end %>