<h1>user page</h1>
<img src= <%= @user.img_url %> alt="user_img">

<h3>My post: <% @user.action_posts.each do |post| %></h3>
<%= post.title %>
<img src= <%= post.img_url %> alt="post_img">
<% end %>


<%= link_to "Action Posts", action_posts_path %>

<h2>My Friends</h2>
<ul>
    <% @user.friendships.each do |friendship| %>
    <li>
      <%= friendship.friend.name %>
      <%= link_to 'Message me!', conversations_path(sender_id: @current_user.id, receiver_id: friendship.friend.id), method: 'post'%>
      (<%= link_to "remove", friendship, :method => :delete %>)
    
    </li>
  <% end %>
</ul>

<p><%= link_to "Find Friends", users_path %></p>
