<h1>edit posts</h1>
<%= form_for @action_post do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :location %>
<%= f.text_field :location %>

<%= f.label :category_id %>
<%= f.collection_select :category_id, Category.all, :id, :name %>

<%= f.label :content %>
<%= f.text_area :content %>

<%= f.label :img_url %>
<%= f.text_field :img_url %>

<%= f.submit %>

<% end %>