<!DOCTYPE html>
  <html>
  <head>
    <title>the new</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
<link rel='icon' href='/thenew.ico' type='image/x-icon'/ >
    
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">

  </head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

</style>
<body>

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-large w3-animate-left custom-nav-bar" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">Close Menu</a>
   <% if @current_user %>
  <p class="w3-bar-item w3-button">Hi <%=  @current_user.first_name %>!</p>  
  <p class="w3-bar-item w3-button">_______________</p>  
  <a href="/action_posts" onclick="w3_close()" class="w3-bar-item w3-button">Try Something New Today</a>
  <a href="/action_posts/new" onclick="w3_close()" class="w3-bar-item w3-button">Share an Action Card</a>
  <a href="/conversations" onclick="w3_close()" class="w3-bar-item w3-button">Send a Message</a>  
  <a href="/sessions/logout" rel="nofollow" data-method="delete" onclick="w3_close()" class="w3-bar-item w3-button" >Logout</a> 
  <% else %>
  <a href="/sessions/new" onclick="w3_close()" class="w3-bar-item w3-button">Login</a>  
  <a href="/users/new" onclick="w3_close()" class="w3-bar-item w3-button">Signup</a>  
  <% end %>

</nav>


<!-- Top menu -->
<div class="w3-top custom-top">
  <div class="w3-white w3-xlarge" id="inner-custom-top">
    <div class="w3-button w3-padding-16 w3-left custom-nav-click" onclick="w3_open()">☰</div>
    <div class="w3-right w3-padding-5"><a href="/action_posts"><img src="https://i.ibb.co/SXcQ5KS/thenew.png" alt="thenew" id=logo > </a></div>


  </div>
</div>

  <body>
  <br><br><br><br><br>
    

    <!-- start website -->

    <%= yield %>
    <!-- Footer -->
  <footer class="w3-row-padding w3-padding-32">
    <div class="w3-third">
     
    </div>
  

    <div class="w3-third w3-serif">
      <!--  <span class="w3-tag w3-black w3-margin-bottom"></span>  -->

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
  </body>
  <footer text-align="center" class="container-fluid" border-style="solid">
<p>A Chloe Kim & Chase Rabenn Production  Ⓒ 2020 </p>
  </footer>
</html>
